#filter-wrapper {
    background-color: #f3f3f4;
    padding: 18px 18px 140px 20px;
    margin: 0 0 80px;
}

#filter-wrapper h3 {
    color: #1f1f1e;
    font-size: 20px;
    font-weight: 700;
}

.filter {
    padding: 20px 0;
    border-bottom: 1px solid #b5b5b5;
}
.filter h4 {
    margin: 0;
    padding: 0;
    color: #b99b39;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.facetsItem label {
    color: #1f1f1e;
    font-size: 1.3em;
    font-weight: 700;
    display: inline;
    padding: 0 0 0 5px;
}


.people-you-might-know {
    background-color: #fefefe;
    padding: 1rem;
    /* border: 1px solid #cacaca; */
    /* box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18); */
}

.people-you-might-know .add-people-header {
    padding: 0;
    border-bottom: 0.0625rem solid #cacaca;
}

.headerPagination {
    padding: 10px 0;
}

.paging-position {
    font-size: 13px;
    line-height: 1;
    color: #8a8a8a;
}

.inline-paging span {
    padding: 0 10px;
}

.people-you-might-know .add-people-header .header-title {
    font-weight: bold;
    font-size: 25px;
}

.people-you-might-know .add-people-section {
    margin: 1rem 0 0;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-section .about-people {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.people-you-might-know .add-people-section .about-people .about-people-avatar {
    padding-right: 0.5rem;
    padding-left: 0;
}

.people-you-might-know .add-people-section .about-people .about-people-avatar .avatar-image {
    width: 5rem;
    height: 5rem;
    /*border-radius: 50%;*/
    border: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-section .about-people .about-people-author {
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.people-you-might-know .add-people-section .about-people .about-people-author .author-name {
    color: #0a0a0a;
    margin: 0.375rem 0 0;
}

.people-you-might-know .add-people-section .about-people .about-people-author .author-location,
.people-you-might-know .add-people-section .about-people .about-people-author .author-mutual {
    color: #8a8a8a;
    margin-bottom: 0;
    font-size: 0.85em;
}

.people-you-might-know .add-people-section .add-friend {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 39.9375em) {
    .people-you-might-know .add-people-section .add-friend {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.people-you-might-know .add-people-section .add-friend .add-friend-action {
    margin-top: 0.7rem;
}

.people-you-might-know .view-more-people {
    margin: .7rem 0;
}

.people-you-might-know .view-more-people .view-more-text {
    margin-bottom: 0;
    text-align: center;
}

.people-you-might-know .view-more-people .view-more-text .view-more-link {
    color: #1779ba;
}

.people-you-might-know .view-more-people .view-more-text .view-more-link:hover, .people-you-might-know .view-more-people .view-more-text .view-more-link:focus {
    text-decoration: underline;
}
